.createRoom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.521);
  align-self: center;
  margin-top: 10%;
  min-width: 300px;
  max-width: 500px;
}
.createRoom > div > input {
  width: 100%;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
}
.createRoom > div > input:active {
  border: none;
}
.createRoom > div {
  width: 80%;
}
.createRoomButton {
  width: 100%;
  background-color: rgba(235, 170, 255, 0.63);
  margin-bottom: 0;
  border-width: 0px;
  font-size: 3vh;
}
.createRoomButton:hover {
  background-color: rgba(235, 170, 255, 0.8);
}
div.password {
  display: flex;
  align-items: baseline;
}
div.password > input {
  width: fit-content;
}
div.password > input:hover {
  border-width: 5px;
}
