.enter_password {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.get_password {
  flex: 0.5;
  background-color: white;
  padding: 2vh;
  margin-top: 20vh;
}
.get_password > h2 {
  width: fit-content;
  font-size: 3vh;
  margin-bottom: 2px;
}
.get_password > button {
  font-size: 2vh;
  padding: 1vh 1vh;
  border-radius: 4px;
  border-width: 1px;
}
.get_password > input {
  padding: 1vh 2vh;
}
