@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");

.header {
  width: 100%;
  background-color: black;
  height: 30vh;
  z-index: 10;
}
.header_title {
  font-family: "Langar", cursive;
}
.header_logo > img {
  width: 100px;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_logo > p {
  margin-left: -39px;
  font-size: 2vh;
}
.header_navbar {
  background-color: rgba(255, 255, 255, 0.438);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.header_searchbar {
  width: 50%;

  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 1px;
  height: 30px;
}
.searchContainer {
  margin-left: auto;
  width: 80%;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header_link {
  color: black;
  margin-right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 1vh;
  width: fit-content;
}
.header_link:hover {
  background-color: rgba(255, 255, 255, 0.658);
}
.header_link > p {
  margin: 0;
  text-decoration: none;
  color: black;
}

.YourRoom {
  text-decoration: none;
}
.header_searchIcon {
  color: black;
  background-color: rgb(165, 132, 226);
  margin-right: 20px;
  margin-left: 0px;
  padding: 6px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header_search {
  display: flex;
  align-items: center;
  flex: 0.8;
}
.header_searchLink {
  object-fit: contain;
  margin-top: 5px;
}
.header_photo {
  width: 35px;
  border-radius: 50%;
  padding: 1vh;
}
.addCircle {
  margin: 0;
}
.createRoom {
  width: fit-content;
}
