.header {
  width: 100%;
  background-color: white;
  height: 300px;
}
.header_logo {
  width: 100px;
}
.header_navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header_searchbar {
  width: 100%;

  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 1px;
  height: 30px;
}
.searchContainer {
  margin-left: auto;
  width: 80%;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header_link {
  color: black;
  margin-right: 20px;
}
.header_searchIcon {
  color: black;
  background-color: rgb(165, 132, 226);
  margin-right: 20px;
  margin-left: 0px;
  padding: 6px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header_search {
  display: flex;
  align-items: center;
  flex: 0.8;
}
.header_searchLink {
  object-fit: contain;
  margin-top: 5px;
}
.header_photo {
  width: 35px;
  border-radius: 50%;
}
