.home {
  display: flex;
  position: relative;
  scrollbar-width: none;
}
.home > * {
  margin-right: 20px;
}
.friends {
  flex: 1;

  text-align: center;
}
.thumbnails {
  flex: 1;
  margin-left: 20px;
  overflow-y: scroll;
  height: 89vh;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-items: auto;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(216, 216, 216, 1);
  border-radius: 10px;
}
