.home {
  display: flex;
}
.home > * {
  margin-right: 20px;
}
.friends {
  flex: 1;

  text-align: center;
}
.thumbnails {
  flex: 2;
}
.user {
  flex: 1;
  width: 30%;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.user > * {
  padding-top: 20px;
  margin-top: 20px;
  font-size: 80%;
  margin-left: 5px;
  margin-right: 5px;
}
.email {
  font-size: 12px;
}
button {
  margin: 30px;
}
