.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-items: center;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 500px;
  background-color: white;
  object-fit: contain;
  width: 400px;
}

.heading {
}
.googleSignIn{
  width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-width: 1px;
}
.googleSignIn:hover {
  background-color: rgb(247, 243, 243);
}
.googleLogo {
  width: 30px;
  margin-left: 20px;
}
