.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-items: center;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 500px;
  background-color: rgba(265, 265, 265, 0.6);
  object-fit: contain;
  width: 400px;
}

.login_container {
  height: 100%;
  width: 100%;
}
.googleSignIn {
  width: 100%;

  background-color: rgba(255, 255, 255, 0.6);
  height: 6vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  border-width: 0px;
  margin-top: 100px;
}
.googleSignIn:hover {
  background-color: rgba(255, 255, 255,0.2);
}
.googleLogo {
  width: 30px;
  margin-left: 20px;
}
