.back_button {
  height: 50px;
  width: 10vw;
  min-width: 10vw;
  border-radius: 20px;
  border-width: 0;
  background-color: rgb(180, 139, 219);
  margin: 2vw;
}
.room_header {
  display: flex;
  background-color: white;
  margin-top: 20px;
}
.room_headerTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2vw;
  border-left: 1px solid black;
  padding-left: 2vw;
  padding-right: 2vw;
}
.title {
  margin-top: 5px;
  margin-bottom: 5px;
}
.room_headerTitle > h2 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 1vw;
}
.description {
  font-weight: 400;
  margin-top: 5px;
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 2px;
}
.creator {
  margin-top: 0px;
  align-self: flex-end;
  font-weight: 500;
}
.room {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.room_chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.chatInput {
  width: 60vw;
  border-radius: 20px;
  border-width: 1px;
  padding-top: 5px;
  height: 20px;
  padding-bottom: 5px;
  padding-left: auto;
  margin-right: auto;
  margin-left: 0;
  font-size: 20px;
  margin-top: 0px;
}
.chatArea {
  height: 100%;
  border: 2px solid purple;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #ebcfe6;
  overflow-y: scroll;
}
.input {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 1vh;
}
.sendButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 0px;
  background-color: white;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
