.thumbnail {
  background-color: rgba(176, 135, 243, 0.63);
  width: 100%;

  padding: 20px;
  padding-right: 0px;
  overflow-y: scroll;
  margin: 0;
}
.topic,
.sender,
.message {
  margin: 0;
  margin-left: 20px;
  width: 23vh;
  min-width: 23vh;
  overflow: hidden;
}
.owner {
  margin-left: 40px;
  font-weight: 500;
}
.details {
  margin-left: 40px;
  font-size: 15px;
  width: auto;
}
.roomLink {
  text-decoration: none;
  margin: 0;
  flex: 1;
  color: black;
  z-index: 10;
  overflow: hidden;
}
.head {
  display: flex;
  flex-direction: column;
}
h4 {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 20px;
}
.createdBy {
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 12px;
}
.name {
  color: black;
  font-weight: 500;
}
.delete_room {
  background-color: rgba(176, 135, 243, 0.63);
  color: black;

  font-weight: 600;
  font-size: 20px;
  border: none;

  padding: 10px;
  flex: 1;
  width: 100%;

  margin: 0;
  margin-bottom: 10px;
  align-self: baseline;
}
.delete_room:hover {
  background-color: rgba(176, 135, 243, 0.8);
}
.subscribe_button {
  background-color: rgba(176, 135, 243, 0.63);
  color: black;
  font-weight: 600;

  font-size: 20px;
  border: none;
  margin-top: 10px;
  margin-right: 1vh;
  padding: 10px;
  float: right;
  margin: 0;
  flex: 1;
}
.subscribe_button:hover {
  background-color: rgba(176, 135, 243, 0.8);
}
.roomDiv {
  flex: 1;
  display: flex;
  background-color: rgba(242, 239, 247, 0);
  margin-top: 15px;
  margin-left: 0;
  margin-right: 1vh;
  max-width: 80vh;
}
.thumbnail_buttons {
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
}
button {
  cursor: pointer;
}
.thumbnail:hover {
  background-color: rgba(176, 135, 243, 0.8);
}
